{% extends 'master.html' %}
{% load static %}
{% load template_tags %}

{% block mainblock %}

<!-- Datatables Header -->
<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="fa fa-table"></i>Consultorios<br>
            <small>
                Formulario para {% if con.id is None %} insertar {% else %} editar {% endif %} Consultorios al
                sistema
            </small>
        </h1>
    </div>
</div>
<ul class="breadcrumb breadcrumb-top">
    <li>Tabla</li>
    <li><a href="{% url 'consultingRoomListView' %}">Consultorios</a></li>
    <li>{% if con.id is None %} Insertar {% else %} Editar {% endif %}</li>
</ul>
<!-- END Datatables Header -->

<!-- Error Message Section -->
{% if messages %}
{% for message in messages %}
<div class="alert {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} 
                      alert-danger 
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} 
                      alert-success 
                    {% endif %} p-2 alert-dismissible" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
<!-- End Error Message Section -->


<!-- Form Validation Example Block -->
<div class="block">
    <!-- Form Validation Example Title -->
    <div class="block-title">
        <h2><strong>Formulario de Consultorio</strong></h2>
    </div>
    <!-- END Form Validation Example Title -->

    <!-- Form Validation Example Content -->
    <form id="form-validation" action="{% if con.id is None %} 
                    {% url 'consultRoomAddView' %} 
                {% else %} 
                #
                {% endif %}" method="post" class="form-horizontal form-bordered">
        {% csrf_token %}
        <fieldset>

            <!-- NAME -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="val_name">Nombre <span class="text-danger">*</span></label>
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" id="val_name" name="val_name" value="{{ pol.name }}" class="form-control"
                            placeholder="Escribe aquí el nombre..">
                        <span class="input-group-addon"><i class="gi gi-user"></i></span>
                    </div>
                </div>
            </div>

            <!-- Mun -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="val_pol_id">
                    Seleccione un policlinico para el Consultorio
                    <span class="text-danger">*</span></label>
                <div class="col-md-6">
                    <select id="val_pol_id" name="val_pol_id" class="form-control">
                        {% if con.id is not None %}
                        {% for pol in pols %}
                        <option value="{{ pol.id }}" {% if pol|isProvinceId:con.munId %} selected {% endif %}>
                            {{ pol.name }} | {{ pol.municipality.name }}
                        </option>
                        {% endfor %}
                        {% else %}
                        <option value="">Selecciona un Policlinico</option>
                        {% for pol in pols %}
                        <option value="{{ pol.id }}"> {{ pol.name }} | {{ pol.municipality.name }}</option>
                        {% endfor %}
                        {% endif %}
                    </select>
                </div>
            </div>
        </fieldset>

        <div class="form-group form-actions text-right">
            <div class="col-md-8 col-md-offset-4">
                <a href="{% url 'consultingRoomListView' %}" class="btn btn-sm btn-default">Cancelar</a>
                <button type="reset" class="btn btn-sm btn-warning"><i class="fa fa-repeat"></i> Resetear
                    Formulario</button>
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-arrow-right"></i>
                    {% if con.id is None %} Insertar {% else %} Editar {% endif %}</button>
            </div>
        </div>
    </form>
    <!-- END Form Validation Example Content -->

</div>



{% endblock%}
{% block footerblock%}
<script src="{% static 'js/validators/consultRoomValidator.js' %}"></script>
<script>$(function () { FormsValidation.init(); });</script>
{% endblock%}