{% extends 'master.html' %}
{% load static %}
{% load template_tags %}

{% block mainblock %}

<!-- Datatables Header -->
<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="fa fa-table"></i>Usuarios<br><small>Formulario para insertar usuarios al sistema</small>
        </h1>
    </div>
</div>
<ul class="breadcrumb breadcrumb-top">
    <li>Tabla</li>
    <li><a href="{% url 'userListView' %}">Usuarios</a></li>
    <li>Insertar</li>
</ul>
<!-- END Datatables Header -->

<!-- Error Message Section -->
{% if messages %}
{% for message in messages %}
<div class="alert {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} 
                      alert-danger 
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} 
                      alert-success 
                    {% endif %} p-2 alert-dismissible" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
<!-- End Error Message Section -->



<!-- Form Validation Example Block -->
<div class="block">
    <!-- Form Validation Example Title -->
    <div class="block-title">
        <h2><strong>Form Validation</strong> Example</h2>
    </div>
    <!-- END Form Validation Example Title -->

    <!-- Form Validation Example Content -->
    <form id="form-validation" action="{% url 'userAddView' %}" method="post" class="form-horizontal form-bordered">
        {% csrf_token %}
        <fieldset>

            <!-- NAME -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="val_name">Nombre Completo <span
                        class="text-danger">*</span></label>
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" id="val_name" name="val_name" value="{{ user.name }}" class="form-control"
                            placeholder="Escribe aquí el nombre..">
                        <span class="input-group-addon"><i class="gi gi-user"></i></span>
                    </div>
                </div>
            </div>

            <!-- USERNAME -->

            <div class="form-group">
                <label class="col-md-4 control-label" for="val_username">Nombre de Usuario
                    <span class="text-danger">*</span></label>
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" id="val_username" name="val_username" value="{{ user.username }}"
                            class="form-control" placeholder="Escribe aquí el nombre de usuario..">
                        <span class="input-group-addon"><i class="gi gi-user"></i></span>
                    </div>
                </div>
            </div>

            <!-- ROL -->

            <div class="form-group">
                <label class="col-md-4 control-label" for="val_rol">Rol de Usuario <span
                        class="text-danger">*</span></label>
                <div class="col-md-6">
                    <select id="val_rol" name="val_rol" class="form-control">
                        <option value="" {% if user|isRol:'' %} selected {% endif %}>Seleccione un Rol</option>
                        <option value="ADMIN" {% if user|isRol:'ADMIN' %} selected {% endif %}>Administrador</option>
                        <option value="SPECIALIST" {% if user|isRol:'SPECIALIST' %} selected {% endif %}>Especialista
                        </option>
                    </select>
                </div>
            </div>


            <!-- PASSWORD -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="val_password">Contraseña <span
                        class="text-danger">*</span></label>
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="password" id="val_password" value="{{ user.password }}" name="val_password"
                            class="form-control" placeholder="Escribe aquí la contraseña">
                        <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                    </div>
                </div>
            </div>

            <!-- CONFIRM PASSWORD -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="val_confirm_password">Confirmar Contraseña <span
                        class="text-danger">*</span></label>
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="password" id="val_confirm_password" value="{{ user.confirmPassword }}"
                            name="val_confirm_password" class="form-control" placeholder="confirma aquí!">
                        <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                    </div>
                </div>
            </div>
        </fieldset>

        <div class="form-group form-actions text-right">
            <div class="col-md-8 col-md-offset-4">
                <a href="{% url 'userListView' %}" class="btn btn-sm btn-default">Cancelar</a>
                <button type="reset" class="btn btn-sm btn-warning"><i class="fa fa-repeat"></i> Resetear
                    Formulario</button>
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-arrow-right"></i> Insertar
                    Usuario</button>
            </div>
        </div>
    </form>
    <!-- END Form Validation Example Content -->

</div>



{% endblock%}
{% block footerblock%}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'js/validators/adduservalidator.js' %}"></script>
<script>$(function () { FormsValidation.init(); });</script>

{% endblock%}