{% extends 'master.html' %} {% load static %} {% block mainblock %}
<!-- Mini Top Stats Row -->
<div class="row" style="margin: 5px;">

  <!-- Quick Stats -->
  <div class="row text-center">
    <div class="col-sm-6 col-lg-3">
      <a href="javascript:void(0)" class="widget widget-hover-effect2">
        <div class="widget-extra themed-background">
          <h4 class="widget-content-light"><strong>Usuarios</strong> registrados</h4>
        </div>
        <div class="widget-extra-full"><span class="h2 animation-expandOpen">
          {{ users }}
        </span></div>
      </a>
    </div>
    <div class="col-sm-6 col-lg-3">
      <a href="javascript:void(0)" class="widget widget-hover-effect2">
        <div class="widget-extra themed-background-dark">
          <h4 class="widget-content-light"><strong>Personas</strong> por vacunar y vacunadas</h4>
        </div>
        <div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">
          {{ persons }}
        </span></div>
      </a>
    </div>
    <div class="col-sm-6 col-lg-3">
      <a href="javascript:void(0)" class="widget widget-hover-effect2">
        <div class="widget-extra themed-background-dark">
          <h4 class="widget-content-light"><strong>Vacunas</strong> registradas</h4>
        </div>
        <div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">
          {{ vaccines }}
        </span></div>
      </a>
    </div>
    <div class="col-sm-6 col-lg-3">
      <a href="javascript:void(0)" class="widget widget-hover-effect2">
        <div class="widget-extra themed-background-dark">
          <h4 class="widget-content-light"><strong>Vacunaciones</strong> Realizadas</h4>
        </div>
        <div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">{{ vaccinations }}</span></div>
      </a>
    </div>
  </div>
  <!-- END Quick Stats -->


</div>
<!-- END Mini Top Stats Row -->
{% endblock%} {% block footerblock%}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'js/pages/ecomDashboard.js'  %}"></script>
<script>$(function () { EcomDashboard.init(); });</script>


{% endblock%}